.component-comments-card-wrapper {
  width: 80vw;
  //  padding-left: 5%;
  display: flex;
  justify-content: flex-start;
  color: white;
  border-radius: 5px;
  // padding-right: 15px;
  // padding-left: 45px;
  margin-bottom: 20px;

  .component-comments-card-text-wrapper {
    margin: 0;
    .component-comments-card-user {
      font-family: "Roboto";
      font-size: 20px;
      font-weight: 200;
      margin: 0;
      width: 100%;
      margin-right: 10px;
    }
  }
  .component-comments-card-delete-comment-wrapper {
    display: flex;

    margin-right: 10px;
    width: 30px;
    min-width: 30px;
    .MuiSvgIcon-root {
      color: white;
      font-size: 30px;
    }
  }
}
.animation-delete {
  animation: fadeOut 1s;
  animation: slide-rotate-hor-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes slide-rotate-hor-bottom {
  0% {
    -webkit-transform: translateY(0) rotateX(0deg);
    transform: translateY(0) rotateX(0deg);
  }
  100% {
    -webkit-transform: translateY(20px) rotateX(90deg);
    transform: translateY(20px) rotateX(90deg);
  }
}
@keyframes slide-rotate-hor-bottom {
  0% {
    -webkit-transform: translateY(0) rotateX(0deg);
    transform: translateY(0) rotateX(0deg);
  }
  100% {
    -webkit-transform: translateY(20px) rotateX(90deg);
    transform: translateY(20px) rotateX(90deg);
  }
}
