.feed-container {
  .feed-header-container {
    top: 0px;
    position: sticky;
    z-index: 9999;
    height: 9vh;
  }
  .feed-content-container {
    margin-top: 30px;
    padding-bottom: 30px;
    height: auto;
  }
}
