.article-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: grey;

  .article-header-container {
    top: 0px;
    position: sticky;
    z-index: 9999;
  }
}
