.component-header-container {
  height: 55px;
  background-color: #242429;
  border-radius: 0 0 5px 5px;
  box-shadow: 2px 10px 15px 5px rgba(0, 0, 0, 0.56);
  display: flex;
  align-items: center;
  padding-left: 3%;
  justify-content: space-between;
  .component-header-logo-text {
    font-family: "Roboto";
    font-weight: 500;
    letter-spacing: 1px;
    color: #1963ed;
    font-size: 40px;
    margin: 0;
    padding: 0;
  }
  .component-header-buttons-container {
    margin-right: 3%;
    display: flex;
    flex-direction: column;
    .component-header-register-button-icon {
      display: flex;
      align-items: flex-end;
      // background-color: red;
      gap: 25px;
      // justify-content: center;
      // align-items: center;
      // padding-bottom: 3px;
      .MuiSvgIcon-root {
        font-size: 35px;
        color: #1963ed;
      }
    }

    .component-header-register-button {
      // width: 20vw;
      height: 100%;
      font-family: "Roboto";
      letter-spacing: 1px;
      font-weight: 300;
      // padding: 5px 15px;

      background-color: transparent;
      color: white;
      font-size: 25px;
      border: none;
      border-radius: 5px;
    }
  }
}
