.component-news-feed-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  background-attachment: fixed;
  padding-bottom: 30px;
  padding-top: 30px;
  background-color: #181923;
  overflow: hidden;
  .component-cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    width: 80vw;
  }
  .component-sekeleton-container {
    // height: 400px;
    width: 80vw;
  }
}
